.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header,
main {
  display: flex;
  flex-direction: column;

  padding: 20px;
  border: 1px solid #000;
  margin: 10px;
}

.content {
  margin: 1rem;
}

img.img-2 {
  height: 4rem;
  width: 4rem;
}

img.img-1 {
  height: 4rem;
  width: 4rem;
}
